@import url(fonts.css);
.ttu {
  text-transform: uppercase !important;
}

.white {
  color: #fff !important;
}

.lh17 {
  line-height: 17px !important;
}

.fz16 {
  font-size: 16px !important;
}

.fz46 {
  font-size: 46px !important;
}

.fz14 {
  font-size: 14px !important;
}

.fz17 {
  font-size: 17px !important;
}

.fz18 {
  font-size: 18px !important;
}

.fz12 {
  font-size: 12px !important;
}

.fz36 {
  font-size: 36px !important;
}

.fz33 {
  font-size: 33px !important;
}

.fz24 {
  font-size: 24px !important;
}

.fz22 {
  font-size: 22px !important;
}

.lh28 {
  line-height: 28px !important;
}

.ffR-r {
  font-family: "Roboto-Regular";
}

.ffMcyr700 {
  font-family: "Museo Cyrl 700" !important;
}

.ffMcyr300 {
  font-family: "Museo Cyrl 300" !important;
}

.fw700 {
  font-weight: 700 !important;
}

.black {
  color: #212121 !important;
}

.lighter-grey {
  color: #646464 !important;
}

.grey {
  color: #7f7f86 !important;
}

.tdn {
  text-decoration: none !important;
}

.w100 {
  width: 100%;
}

.inline-grid {
  text-align: justify;
  line-height: 0;
  font-size: 0;
}
.inline-grid:after {
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: "";
  display: inline-block;
}
.inline-grid > div {
  display: inline-block;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.pb40 {
  padding-bottom: 40px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb5 {
  margin-bottom: 5px;
}

.m0 {
  margin: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mr15 {
  margin-right: 15px;
}

.ml85 {
  margin-left: 85px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr25 {
  margin-right: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml55 {
  margin-left: 55px;
}

.pl10 {
  padding-left: 10px;
}

.z-i20 {
  z-index: 20;
}

.right-grey-line:after {
  height: 205px;
  width: 2px;
  background-color: #43434b;
  content: "";
  position: absolute;
  right: 0px;
  top: -60px;
  display: block;
}

.d-f {
  display: flex;
}

.a-ic {
  align-items: center;
}

.fl-grid-b {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fl-grid-a {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.jk-c {
  justify-content: center;
}

.jk-s-b {
  justify-content: space-between;
}

.fl-baseline {
  display: flex;
  align-items: baseline;
  margin: auto;
}

.fl-center {
  display: flex;
  align-items: center;
  margin: auto;
}

.ovh {
  overflow: hidden;
}

.m-auto {
  margin: auto;
}

.fl-left {
  display: flex;
  align-items: flex-start;
  margin: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.p-rel {
  position: relative;
}

.ls-pin {
  list-style-position: inside;
}

.tac {
  text-align: center;
}

.vat {
  vertical-align: top;
}

.tal {
  text-align: left;
}

.vam {
  vertical-align: middle;
}

.tar {
  text-align: right;
}

.dib {
  display: inline-block;
}

.db {
  display: block;
}

.td-u {
  text-decoration: underline;
}

.ml85 {
  margin-left: 85px;
}

input {
  padding: 20px !important;
  font-family: "HelveticaNeueCyr-Roman";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ebe9e8;
}
input::-webkit-input-placeholder {
  color: #7f7f86 !important;
  opacity: 1 !important;
}
input::-moz-placeholder {
  color: #7f7f86 !important;
  opacity: 1 !important;
}
input:-moz-placeholder {
  color: #7f7f86 !important;
  opacity: 1 !important;
}
input:-ms-input-placeholder {
  color: #7f7f86 !important;
  opacity: 1 !important;
}

.fill-form__inp {
  flex: 1 1 300px;
  height: 50px;
  font-size: 14px;
  font-family: "HelveticaNeueCyr-Roman";
}

.base-text, .b-base-text > p {
  color: #212121;
  font-family: "Museo Cyrl 300";
  font-size: 15px;
  line-height: 22px;
}

.b-base-text > p {
  margin-bottom: 20px;
}
.b-base-text > p:last-child {
  margin-bottom: 0;
}

.title-lev2 {
  font-family: "Museo Cyrl 300";
  color: #646464;
  line-height: 33px;
  font-size: 18px;
}

.page-title {
  font-family: "HelveticaNeueCyr-Bold_0";
  font-size: 53px;
}

.advantages-text {
  color: #474747;
  font-size: 36px;
  line-height: 28px;
  font-family: "HelveticaNeueCyr-Bold_0";
}

.label {
  font-family: "HelveticaNeueCyr-Roman";
  color: #646464;
  line-height: 18px;
  font-size: 14px;
}

.footer-label {
  font-family: "HelveticaNeueCyr-Roman";
  color: #76767b;
  font-size: 12px;
  line-height: 28;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
}

.income-form-label {
  font-family: "HelveticaNeueCyr-Light";
  color: #646464;
  font-size: 18px;
}

.title-rom {
  font-size: 16px;
}

.slider {
  background-color: #f6f6f6;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header-nav {
  flex: 1 1 500px;
}

.header-logo-wrapper {
  padding-left: 15px;
  flex: 0 0 165px;
  background-color: #0692da;
}

.header-logo {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -438px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 49px;
  width: 42px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .header-logo {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -438px;
    height: 49px;
    width: 42px;
  }
}

.header-nav__item {
  list-style: none;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  font-size: 12px;
  font-family: "HelveticaNeueCyr-Roman";
  padding: 0 20px;
  text-decoration: none;
  color: #212121;
  text-transform: uppercase;
}
.header-nav__item:hover {
  border-bottom: 3px solid #ef4035;
  text-decoration: none;
  color: #ef4035;
}

.header-nav-listing {
  margin: 0;
  line-height: 74px;
  display: flex;
  justify-content: space-around;
}

.header-nav__right {
  flex: 1 1 445px;
  display: flex;
  align-self: center;
  justify-content: space-around;
}

.work-hours {
  font-size: 12px;
  color: #646464;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
}

.header-phone {
  font-family: "Museo Cyrl 700";
  color: #212121;
  font-weight: 700;
  font-size: 18px;
}

.green_btn, .calc_btn {
  margin: auto;
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 16px;
  text-decoration: none;
  width: 179px;
  line-height: 42px;
  text-align: center;
  border-radius: 2px;
  border: none;
  color: #fff;
  background-color: #06921c;
}
.green_btn:hover, .calc_btn:hover {
  background-color: #057516;
  color: #fff;
  text-decoration: none;
}

.phone-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -937px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 16px;
  width: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .phone-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -937px;
    height: 16px;
    width: 16px;
  }
}

.search-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -1318px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 56px;
  width: 56px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .search-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -1318px;
    height: 56px;
    width: 56px;
  }
}

.sale-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -1147px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 65px;
  width: 56px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .sale-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -1147px;
    height: 65px;
    width: 56px;
  }
}

.funnel-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -299px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 53px;
  width: 56px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .funnel-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -299px;
    height: 53px;
    width: 56px;
  }
}

.first-screen-bullets__item {
  text-align: center;
  margin-right: 60px;
}
.first-screen-bullets__item:last-child {
  margin-right: 0;
}

.first-screen {
  background-image: url('../images/first-screen.png?1475567949');
  background-position: 100% center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .first-screen {
    background-image: url('../images/first-screen@2x.png?1475584936');
    background-size: 1280px 700px;
  }
}
.first-screen > .container {
  padding: 135px 160px;
}

.first-screen-bullets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.empty_btn, .red_btn {
  border: 1px solid white;
  border-radius: 2px;
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  display: inline-block;
  width: 255px;
  text-align: center;
  color: #fff;
  background-color: transparent;
}
.empty_btn:hover, .red_btn:hover {
  background-color: #282828;
  color: #fff;
  text-decoration: none;
}

.red_btn {
  background-color: #ef4035;
  border: 1px solid transparent;
}
.red_btn:hover {
  background-color: #bf332a;
}

.wrapper {
  max-width: 680px;
  margin: auto;
}

.advantages-list {
  padding: 75px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
}

.advantages-item {
  text-align: center;
}

.advantages-item:after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 37px;
  background-color: #0692da;
}

.w-circle {
  display: flex;
  width: 70px;
  height: 70px;
  content: "";
  border-radius: 50%;
  top: calc(100% - 23px);
  right: calc(50% - 35px);
  position: absolute;
  background-color: #fff;
}
.w-circle:after {
  margin: auto;
  content: "";
  display: block;
  margin-bottom: 40px;
  z-index: 10;
  width: 13px;
  height: 13px;
  border: 2px solid transparent;
  border-bottom: 2px solid #ef4035;
  border-left: 2px solid #ef4035;
  transform: rotate(-45deg);
}

.you-get {
  background-color: #f6f6f6;
}
.you-get > .container {
  padding: 80px 35px;
}

.target-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -1592px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 88px;
  width: 90px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .target-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -1592px;
    height: 88px;
    width: 90px;
  }
}

.support-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -1514px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 73px;
  width: 87px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .support-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -1514px;
    height: 73px;
    width: 87px;
  }
}

.profit-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -1036px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 88px;
  width: 96px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .profit-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -1036px;
    height: 88px;
    width: 96px;
  }
}

.shop-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -1379px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 98px;
  width: 93px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .shop-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -1379px;
    height: 98px;
    width: 93px;
  }
}

.you-get-list {
  text-align: justify;
  line-height: 0;
  font-size: 0;
}
.you-get-list:after {
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: "";
  display: inline-block;
}

.b-you-get {
  display: inline-block;
  width: 47.5%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 20px;
  line-height: 22px;
  border: 1px solid #ebe9e8;
  background-color: #fff;
  margin-bottom: 30px;
}

.b-you-get__header__icon {
  width: 93px;
}

.b-you-get__number {
  background-color: #0692da;
  width: 24px;
  height: 24px;
  float: left;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.b-you-get__header:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  bottom: 0;
  right: -20px;
  background-color: #0692da;
  width: calc(100% - 120px + 22px);
}

.mobile-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -713px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 64px;
  width: 58px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .mobile-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -713px;
    height: 64px;
    width: 58px;
  }
}

.document-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -116px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 60px;
  width: 51px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .document-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -116px;
    height: 60px;
    width: 51px;
  }
}

.sand-clock-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -1252px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 61px;
  width: 37px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .sand-clock-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -1252px;
    height: 61px;
    width: 37px;
  }
}

.check-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -76px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 35px;
  width: 38px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .check-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -76px;
    height: 35px;
    width: 38px;
  }
}

.scheme-of-work__list {
  display: flex;
  justify-content: space-around;
}

.scheme-of-work__item {
  text-align: center;
  position: relative;
  width: calc(25% - 70px);
  line-height: 22px;
  background-color: #fff;
  margin-bottom: 30px;
}
.scheme-of-work__item:last-child > .page-title:after {
  display: none;
}
.scheme-of-work__item > .page-title {
  margin-bottom: 25px;
  position: relative;
}
.scheme-of-work__item > .page-title:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  left: 110%;
  bottom: calc(50% - 8px);
  width: 15px;
  height: 15px;
  border: 2px solid transparent;
  border-bottom: 2px solid #ef4035;
  border-right: 2px solid #ef4035;
  transform: rotate(-45deg);
}
.scheme-of-work__item > .green_btn, .scheme-of-work__item > .calc_btn {
  height: 45px;
  width: 100%;
}
.scheme-of-work__item.lllast {
  width: 280px;
}
.scheme-of-work__item.lllast:before {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0692da;
  color: #fff;
}
.scheme-of-work__item.lllast:after {
  content: "";
  display: block;
  position: absolute;
  right: calc(50% - 27px);
  bottom: calc(100% - 50px);
  background-color: #0692da;
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.scheme-of-work-icon {
  margin-bottom: 20px;
  height: 65px;
}

.scheme-of-work__item__list {
  list-style-position: inside;
  list-style-type: disc;
  display: inline-block;
}

.scheme-of-work > .container {
  padding: 85px 54px;
}

.content__contacts {
  line-height: 0;
  font-size: 0;
  position: relative;
  padding-bottom: 60px;
}
.content__contacts:before {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: calc(100% - 20px);
  content: "";
  display: block;
  background: linear-gradient(to bottom, #f7f7f7, #fff);
}

.content__contacts__info {
  background-color: #fff;
  width: calc(100% - 530px);
  padding: 0 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.b-person {
  flex: 0 0 530px;
  z-index: 10;
}

.b-our-project-image {
  width: 410px;
}

.img {
  width: 100%;
}

.marker-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -676px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 32px;
  width: 26px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .marker-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -676px;
    height: 32px;
    width: 26px;
  }
}

.r-arrow-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -1129px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 13px;
  width: 31px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .r-arrow-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -1129px;
    height: 13px;
    width: 31px;
  }
}

.header-logo-blue {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -357px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 76px;
  width: 66px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .header-logo-blue {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -357px;
    height: 76px;
    width: 66px;
  }
}

.footer-item {
  width: 24.25%;
  margin: auto;
  position: relative;
}

.footer-content {
  width: 17%;
  margin: auto;
  position: relative;
}

footer > .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #28282e;
  height: 350px;
}

footer > .container > .green_btn, footer > .container > .calc_btn {
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 16px;
  text-decoration: none;
  width: 227px;
  line-height: 55px;
}

.calculation-of-income {
  background-image: url('../images/calculation-of-income.png?1475568379');
  background-position: 100% center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .calculation-of-income {
    background-image: url('../images/calculation-of-income@2x.png?1475661555');
    background-size: 640px 375px;
  }
}
.calculation-of-income > .container {
  padding: 70px 135px;
}

.b-calculation-of-income {
  padding: 50px;
  padding-bottom: 0;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.b-calculation-of-income:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  content: "";
  display: block;
  background-color: #fff;
}
.b-calculation-of-income:after {
  height: 9px;
  width: 50%;
  right: 50%;
  position: absolute;
  bottom: 100%;
  transform: translateX(50%);
  -ms-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  content: "";
  display: block;
  background-color: #ef4035;
}

.calc_btn {
  display: inline-block;
  width: 276px;
  line-height: 62px;
}

.calculation__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.income-form-input {
  height: 55px;
  width: 100%;
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 16px;
}

.calculation-of-income__form__col {
  width: 47.5%;
}

.b-our-projects__result-item {
  width: 47.5%;
}

.our-projects-content {
  background-color: #fff;
}

.our-projects {
  background-color: #f6f6f6;
}

.our-projects > .container {
  padding: 39px 55px;
}

.b-our-project-info {
  float: right;
  width: calc(100%  - 450px);
}

.our-projects-content > .container {
  padding: 67px 85px 67px 45px;
}

.b-our-project-title > .title-lev2 > p {
  margin: 0;
}

.b-our-project-title {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 30px;
}

.b-our-projects__result-list {
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

.b-our-projects__result-list-item {
  margin-bottom: 10px;
}

.b-our-projects__result-list-item {
  display: inline-block;
  vertical-align: middle;
}
.b-our-projects__result-list-item:before {
  content: "";
  width: 10px;
  margin-right: 20px;
  height: 10px;
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -662px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 9px;
  width: 8px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .b-our-projects__result-list-item:before {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -662px;
    height: 9px;
    width: 8px;
  }
}

.owl-controls {
  text-align: center;
}

.owl-pagination {
  display: inline-block;
}

.owl-buttons {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
}

.owl-prev, .owl-next {
  width: 50px;
  height: 50px;
  border: 1px solid #f0f0f1;
}

.owl-prev {
  float: left;
}

.owl-next {
  float: right;
}

.owl-page {
  display: inline-block;
  background-color: #d3d3d3;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 7px;
}
.owl-page.active {
  background-color: #e84429;
}

.b-main-slider {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

.fire-station-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -215px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 79px;
  width: 92px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fire-station-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -215px;
    height: 79px;
    width: 92px;
  }
}

.cav-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 71px;
  width: 68px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .cav-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 0;
    height: 71px;
    width: 68px;
  }
}

.love-korea-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -492px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 39px;
  width: 132px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .love-korea-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -492px;
    height: 39px;
    width: 132px;
  }
}

.my-kidds-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -782px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 45px;
  width: 154px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .my-kidds-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -782px;
    height: 45px;
    width: 154px;
  }
}

.eco-homme-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -181px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 29px;
  width: 149px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .eco-homme-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -181px;
    height: 29px;
    width: 149px;
  }
}

.malutka-market-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -573px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 24px;
  width: 155px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .malutka-market-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -573px;
    height: 24px;
    width: 155px;
  }
}

.pet-simple-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -869px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 63px;
  width: 80px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .pet-simple-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -869px;
    height: 63px;
    width: 80px;
  }
}

.signal-expert-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -1482px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 27px;
  width: 162px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .signal-expert-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -1482px;
    height: 27px;
    width: 162px;
  }
}

.pro-copters-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -958px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 33px;
  width: 150px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .pro-copters-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -958px;
    height: 33px;
    width: 150px;
  }
}

.malutka-store-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -602px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 55px;
  width: 145px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .malutka-store-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -602px;
    height: 55px;
    width: 145px;
  }
}

.my-kidds-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -782px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 45px;
  width: 154px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .my-kidds-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -782px;
    height: 45px;
    width: 154px;
  }
}

.b-our-clients-item {
  text-align: center;
  width: 33.3%;
  margin-bottom: 70px;
}

.our-clients > .container > .b-page-title {
  width: 37%;
  margin-bottom: 10%;
}

.b-our-clients-right {
  width: 60%;
}

.our-clients {
  background-color: #f6f6f6;
}
.our-clients > .container {
  padding: 67px 75px 67px 75px;
}

.clients-slider > .owl-controls > .owl-pagination > .owl-page {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.get-consultation {
  box-sizing: border-box;
  background-color: #28282e;
}

.get-consultation-red-line {
  position: relative;
}
.get-consultation-red-line:after {
  content: "";
  display: block;
  height: 3px;
  width: 72px;
  background-color: #ef4035;
  margin-top: 30px;
  margin-bottom: 25px;
}

.get-consultation-left {
  width: 45%;
}

.get-consultation-right {
  width: 55%;
}

.get-consultation-form {
  height: 64px;
}

.get-consultation > .container {
  box-sizing: border-box;
  padding: 75px 110px 48px 130px;
}

.get-consultation-form__inp {
  font-family: "HelveticaNeueCyr-Roman";
  height: 100%;
  flex: 1 1 390px;
}

.get-consultation-form > button {
  flex: 0 0 195px;
  height: 100%;
}

.pdf-icon {
  background-image: url('../images/icons-s773b1c619e.png');
  background-position: 0 -832px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 32px;
  width: 28px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .pdf-icon {
    background-image: url('../images/icons-2x-sdd6072dff7.png');
    background-size: 188px auto;
    background-position: 0 -832px;
    height: 32px;
    width: 28px;
  }
}

.commercial-proposal {
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: #0692da;
}

.map {
  line-height: 0;
  font-size: 0;
}

footer > .container {
  padding: 75px 70px;
}
