@import url(fonts.css);
.ttu {
  text-transform: uppercase !important;
}

.white {
  color: #fff !important;
}

.lh17 {
  line-height: 17px !important;
}

.ffR-r {
  font-family: "Roboto-Regular";
}

.mr20 {
  margin-right: 20px;
}

.mt20 {
  margin-top: 20px;
}

.fl-center {
  display: flex;
  align-items: baseline;
  margin: auto;
}

.ovh {
  overflow: hidden;
}

.m-auto {
  margin: auto;
}

.fl-left {
  display: flex;
  align-items: flex-start;
  margin: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.dib {
  display: inline-block;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 82px;
}

.header-nav {
  flex: 0 1 630px;
}

.header-logo-wrapper {
  padding-left: 15px;
  flex: 0 0 165px;
  background-color: #0692da;
}

.header-logo {
  background-image: url('../images/icons-sb1b47d7d56.png');
  background-position: 0 -357px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 49px;
  width: 42px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .header-logo {
    background-image: url('../images/icons-2x-s5025ded3c9.png');
    background-size: 162px auto;
    background-position: 0 -357px;
    height: 49px;
    width: 42px;
  }
}

.header-nav__item {
  color: #212121;
  list-style: none;
  padding: 0 20px;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}
.header-nav__item:hover {
  border-bottom: 3px solid #ef4035;
  border-top: 3px solid transparent;
}

.header-nav__link {
  font-size: 12px;
  font-family: "HelveticaNeueCyr-Roman";
  color: #212121;
  text-transform: uppercase;
}
.header-nav__link:hover {
  text-decoration: none;
}

.header-nav-listing {
  margin: 0;
  line-height: 76px;
  display: flex;
  justify-content: space-between;
}

.work-hours {
  font-size: 12px;
  color: #646464;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
}

.header-phone {
  font-family: "Museo Cyrl 700";
  color: #212121;
  font-weight: 700;
  font-size: 18px;
}

.green_btn {
  font-family: "HelveticaNeueCyr";
  margin: auto;
  font-size: 12px;
  font-weight: 400;
  width: 179px;
  line-height: 42px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  background-color: #06921c;
}
.green_btn:hover {
  background-color: #057516;
  color: #fff;
  text-decoration: none;
}

.phone-icon {
  background-image: url('../images/icons-sb1b47d7d56.png');
  background-position: 0 -755px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 16px;
  width: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .phone-icon {
    background-image: url('../images/icons-2x-s5025ded3c9.png');
    background-size: 162px auto;
    background-position: 0 -755px;
    height: 16px;
    width: 16px;
  }
}

.page-tittle {
  color: #fff;
}

.base-text {
  color: #212121;
  font-family: "Museo Cyrillic", serif;
  font-size: 15px;
  line-height: 17px;
}
