.ttu
    text-transform: uppercase !important

.white
    color: #fff !important

.lh17
    line-height: 17px !important

.ffR-r
    font-family: $ffRob

//_________________________________________________________
.mr20
    margin-right: 20px

.mt20
    margin-top: 20px

.fl-center
    display: flex
    align-items: baseline
    margin: auto

.ovh
    overflow: hidden

.m-auto
    margin: auto

.fl-left
    display: flex
    align-items: flex-start
    margin: auto

.left
    float: left

.right
    float: right

.dib
    display: inline-block
    

