.ttu
    text-transform: uppercase !important

.white
    color: #fff !important

.lh17
    line-height: 17px !important

.ffR-r
    font-family: $ffRob

.fz16
    font-size: 16px !important

//_________________________________________________________
.mr20
    margin-right: 20px

.mt20
    margin-top: 20px

.mb100
    margin-bottom: 100px
//_________________________________________________________


.fl-baseline
    display: flex
    align-items: baseline
    margin: auto

.fl-center
    display: flex
    align-items: center
    margin: auto

.ovh
    overflow: hidden

.m-auto
    margin: auto

.fl-left
    display: flex
    align-items: flex-start
    margin: auto

.left
    float: left

.right
    float: right

.tac
    text-align: center

.dib
    display: inline-block
    

