$green: #06921c
$blue: #0692da
$main-color-black: #212121
$lighter-grey: #646464
$grey: #7f7f86
$darker-grey: #76767b
$red: #ef4035
$ffMcyr: "Museo Cyrillic", serif
$ffMcyr700: "Museo Cyrl 700"
$ffRob: "Roboto-Regular"
$ffHel: "HelveticaNeueCyr"
$ffHel-r: "HelveticaNeueCyr-Roman"
$ffHel-b: "HelveticaNeueCyr-Bold_0"


@import _framework.sass
@import _responsive.sass
@import fonts.css
@import mixins/_mixins.sass

.clearfix:after
    clear: both
    content: ''
    display: block

.header
    display: flex
    justify-content: space-between
    align-items: stretch

.header-nav
    flex: 0 1 630px

    

.header-logo-wrapper
    padding-left: 15px
    flex: 0 0 165px
    background-color: $blue

.header-logo
    +sprite(logo)
    display: inline-block


.header-nav__item
    color: $main-color-black
    list-style: none
    padding: 0 20px
    background-color: #fff
    box-sizing: border-box
    border-bottom: 3px solid transparent
    border-top: 3px solid transparent
    &:hover
        border-bottom: 3px solid $red
        border-top: 3px solid transparent

.header-nav__link
    font-size: 12px
    font-family: $ffHel-r
    color: $main-color-black
    text-transform: uppercase
    &:hover
        text-decoration: none

.header-nav-listing
    margin: 0
    line-height: 76px
    display: flex
    justify-content: space-between

.work-hours
    font-size: 12px
    color: $lighter-grey
    font-family: $ffHel
    font-weight: 400

.header-phone
    font-family: $ffMcyr700
    color: $main-color-black
    font-weight: 700
    font-size: 18px
    
.green_btn
    font-family: $ffHel
    margin: auto
    font-size: 12px
    font-weight: 400
    width: 179px
    line-height: 42px
    text-align: center
    border-radius: 2px
    color: #fff
    background-color: $green
    &:hover
        background-color: $green*0.8
        color: #fff
        text-decoration: none

.phone-icon
    +sprite(phone-icon)
    display: inline-block

.search-icon
    +sprite(search-icon)

.sale-icon
    +sprite(sale-icon)

.funnel-icon
    +sprite(funnel-icon) //regher

.first-screen
    +retina-bg("first-screen.png","first-screen@2x.png")
    background-position: 100% center
    background-size: cover
    background-repeat: no-repeat
    height: 700px

.first-screen-bullets
    width: 900px
    margin: auto
    display: flex
    flex-direction: row
    justify-content: space-between

.empty_btn
    border: 1px solid white
    border-radius: 2px
    font-family: $ffHel-r
    font-size: 16px
    font-weight: 400
    line-height: 60px
    display: inline-block
    width: 255px
    text-align: center
    color: #fff
    background-color: transparent
    &:hover
        background-color: $green*0.8
        color: #fff
        text-decoration: none

.red_btn
    @extend .empty_btn
    background-color: $red
    border: 1px solid transparent


.wrapper
    width: 900px
//___________________text___________________________________
.base-text
    color: $main-color-black
    font-family: $ffMcyr
    font-size: 15px //grhr
    line-height: 17px

.page-title
    color: #fff
    font-family: $ffHel-b
    font-size: 53px

.title-rom
    font-size: 16px

//___________________endtext___________________________________

