{% extends "layouts/app.twig" %}

{% block content %}
    <div class="first-screen fl-center">
        <div class="first-screen-content m-auto">
            <h1 class="page-title mb100 ttu">Прибыльный интернет-бизнес
                за 27 дней под ключ</h1>
            <div class="wrapper">
            <div class="first-screen-bullets m-auto">
                <div class="first-screen-bullets__item">
                    <i class="search-icon fl-center"></i>
                    <p class="page-title fz16 ttu">подберем нишу</p>
                </div>
                <div class="first-screen-bullets__item">
                    <i class="sale-icon fl-center"></i>
                    <p class="page-title fz16 ttu">приведем клиентов</p>
                </div>
                <div class="first-screen-bullets__item">
                    <i class="funnel-icon fl-center"></i>
                    <p class="page-title fz16 ttu">доведем до продаж</p>
                </div>
            </div>
            <div class="first-screen-buttons m-auto clearfix">
                <p class="left"><a href="#" class="empty_btn">Узнать подробнее</a></p>
                <p class="right tac"><a href="#" class="red_btn">Заказать проект</a></p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}