{% extends "layouts/app.twig" %}

{% block content %}
    <div class="first-screen">
        <h1 class="main-page-title">Прибыльный интернет-бизнес
            за 27 дней  под ключ</h1>
        <div class="first-screen-bullets">
            <div class="first-screen-bullets__item">
                <i class="search-icon"></i>
                <p class="title-rom"></p>
            </div>
            <div class="first-screen-bullets__item">
                <i class="sale-icon"></i>
                <p class="title-rom"></p>
            </div>
            <div class="first-screen-bullets__item">
                <i class="funnel-icon"></i>
                <p class="title-rom"></p>
            </div>
        </div>
    </div>
{% endblock %}