{% extends "layouts/app.twig" %}

{% block content %}
    <div class="first-screen">
        <h1 class="main-page-title">Прибыльный интернет-бизнес
            за 27 дней  под ключ</h1>
        <div class="first-screen-bullets">
            <div class="first-screen-bullets__item"></div>
            <div class="first-screen-bullets__item"></div>
            <div class="first-screen-bullets__item"></div>
        </div>
    </div>
{% endblock %}