<footer>
    <div class="container">
        <div class="footer-item right-grey-line">
            <div class="header-logo-blue dib mr20"></div>
            <p class="base-text fz17 white ffR-r dib">Marketing <br>Sales<br>Consulting</p>
            <p class="footer-label m-auto">© Marketing Sales Consalting 2011-2016</p>
        </div>
        <div class="footer-item">
            <i class="marker-icon vam"></i>
            <p class="title-lev2 dib vam lh28 white">Москва, <br>
                улица Серпуховский Вал, 7 </p>
            <p class="footer-label m-auto">Политика конфиденциальности</p>
        </div>
        <div class="footer-content w12p">
            <p class="title-lev2 lh28 white">+7 (495) 664-66-07 <br>
                info@bz-podkluch.ru</p>
        </div>
            <a href="#" class="green_btn">Заказать звонок <i class="r-arrow-icon vam ml10"></i></a>
    </div>
</footer>