<header class="header">
        <div class="header-logo-wrapper">
            <div class="header-logo"></div>
            <p class="base-text white lh17 m-auto">Marketing <br>Sales<br>Consulting</p>
        </div>
        <div class="header-nav">
            <ul class="header-nav-listing">
                <li class="header-nav__item"><a href="#" class="header-nav__link"></a>Стоимость</li>
                <li class="header-nav__item"><a href="#" class="header-nav__link"></a>КЕЙСЫ</li>
                <li class="header-nav__item"><a href="#" class="header-nav__link"></a>Схема работы</li>
                <li class="header-nav__item"><a href="#" class="header-nav__link"></a>Контакты</li>
            </ul>
        </div>
        <div class="work-hours">
            <p>Часы работы <br>s10:00 – 19:00</p>
        </div>
        <div class="phone"></div>
        <div class="green_btn phone"></div>
</header>
