<header class="header">
    <div class="header-logo-wrapper">
        <div class="header-logo dib mr20"></div>
        <p class="base-text white ffR-r dib">Marketing <br>Sales<br>Consulting</p>
    </div>
    <div class="header-nav">
        <ul class="header-nav-listing">
            <li class="header-nav__item"><a href="#" class="header-nav__link">Стоимость</a></li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">кейсы</a></li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">Схема работы</a></li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">Контакты</a></li>
        </ul>
    </div>
    <div class="work-hours m-auto mt20">
        <p>Часы работы <br>
            10:00 – 19:00</p>
    </div>
    <div class="header-phone m-auto">
        +7 (495) 664-66-07
    </div>
    <a href="#" class="green_btn"><i class="phone-icon"></i>Заказать звонок</a>
</header>


